<div class="container">
  <app-sidebar></app-sidebar>
  <div class="chart" style="margin-right: 1%; margin-top: 1.2%">
    <div class="row" style="padding-left: 15px; ">
      <app-linechart></app-linechart>
      <app-piechart></app-piechart>

      <app-barchart1></app-barchart1>

    </div>
    <div class="row" style="padding-left: 15px; ">
      <app-barchart></app-barchart>
      <app-column></app-column>
      <app-barchart2></app-barchart2>
      
 </div>
   
  </div>
  
</div>

<!-- {{80.9823459089 | roundup}} -->

<app-tofixed></app-tofixed>