
    <div class="page-area">
        <div class="visit">
            <div class="subdiv">
                <p>1.029.973</p>
                <p>VISITS </p>
            </div>
            <mat-icon>person</mat-icon>
        </div>
    
        <div class="avg">
            <div class="subdiv">
                <p>94 SEC</p>
                <p>AVG.SESSION DURATION</p>
            </div>
               <mat-icon>alarm</mat-icon>
        </div>
    
        <div class="per">
            <div class="subdiv">
                <p>1,8 pages</p>
                <p>PER VISIT</p>
            </div>
                <mat-icon>visibility</mat-icon>
        </div>
    
        <div class="bounce">
            <div class="subdiv">
                <p>58%</p>
                <p>BOUNCE RATE	</p>
           </div>
                 <mat-icon>report_problem</mat-icon>
        </div>
    
        <div class="page">
            <div class="subdiv">
                <p>1.853.672</p>
                <p>PAGE VIEWS 	</p>
            </div>
            <mat-icon>assignment</mat-icon>
        </div>
    
        <div class="goal">
            <div class="subdiv">
                <p>10%</p>
                <p>GOAL CONVERSION </p>
            </div>
               <mat-icon>flag</mat-icon>
        </div>
    </div>
    

